# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Semantic-release

on:
  workflow_run:
    workflows: ["Build and test"]
    types:
      - completed

jobs:
  publish:
    runs-on: ubuntu-latest
    if: ${{ github.ref == 'refs/heads/master' }}
    steps: 
    - uses: actions/checkout@v2
      with:
        persist-credentials: false
    - name: Install dependencies via pnpm
      uses: pnpm/action-setup@v2.1.0
      with:
          version: 7
    - run: pnpm install
    - run: pnpm run semantic-release
      env: 
        GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
